* {
    margin: 0%;
    padding: 0%;

}

h1 {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-family: 'Quicksand', sans-serif;
}

h4 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}



/*-------------------------GRID SYSTEM--------------------------------*/

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 80px;
}

/*-------------------------HEADER--------------------------------*/

.header {
    background-color: #FFF;
    
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;

    border-style: hidden hidden solid hidden;
    border-color: #bebebe;
    border-width: thin;

 
}

/*------ HEADER INNHOLD ------*/
.h-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0px;
    margin-top: 20px;
    margin-left: 40px;

}

.h-logo {
    cursor: pointer;
}

/* -- knapper -- */

.h-hjem {
    margin-left: 110px;
    margin-right: 50px;
    
    text-decoration: none;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: #222024;

    display: inline-block;
    position: relative;
}

.h-hjem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00bfff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.h-hjem:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.h-oversikt {
    padding-left: 0px;
    padding-right: 0px;

    margin-left: 0px;
    margin-right: 50px;

    text-decoration: none;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: #222024;

    display: inline-block;
    position: relative;
}

.h-oversikt:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00bfff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.h-oversikt:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.h-registrering {
    padding-left: 0px;
    padding-right: 0px;

    margin-left: 0px;
    margin-right: 0px;

    text-decoration: none;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: #222024;

    display: inline-block;
    position: relative;
}

.h-registrering:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00bfff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.h-registrering:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


   




/*-------------------------MAIN CONTENT--------------------------------*/

.main-content {
    background-color: #FFF;

    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    
    margin-top: 0px;
}

/*-------------------------FOOTER--------------------------------*/

.footer {
    background-color: #FFF;
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;

    border-style: solid hidden hidden hidden;
    border-color: #bebebe;
    border-width: thin;

    padding-top: 40px;
    padding-bottom: 80px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/




/*--------------------------- økonomi.php side------------------------------*/

/*-------------------------MAIN CONTENT--------------------------------*/

/*--------------OVERSIKT inntekt----------------*/

.m-container-inntekt {
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.m-i-registrer {
    background-color:#f1f1f1;
    border: 1px solid;
    padding-top: 39px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;

    margin-right: 50px;
    border-radius: 5px;
}

.m-i-registrer:hover {
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.m-i-registrer-overskrift {
    text-decoration: none;
    text-align: center;
}


.m-i-registrer-text {
    padding-top: 10px;
    text-align: center;
}

.m-i-registrer-bilde {
    margin-top: 10px;
    margin-left: 30px;
}

.m-i-vis {
    background-color:#f1f1f1;
    border: 1px solid;
    padding-top: 25px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 45px;

    border-radius: 5px;
}

.m-i-vis:hover {
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.m-i-vis-overskrift:link {
    text-decoration: none;
    text-align: center;
}

.m-i-vis-text {
    padding-top: 10px;
    text-align: center;
}

.m-i-registrer-bilde {
    margin-top: 10px;
    margin-left: 30px;
}

.m-i-vis-bilde {
    margin-top: 10px;
}

/*--------------OVERSIKT lån----------------*/

.m-container-lan {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 65px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.m-l-registrer {
    background-color:#f1f1f1;
    border: 1px solid;
    padding-top: 39px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 55px;

    margin-right: 50px;
    margin-left: -14px;
    border-radius: 5px;
}

.m-l-registrer:hover {
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.m-l-registrer-overskrift {
    text-decoration: none;
    text-align: center;
}

.m-l-registrer-text {
    padding-top: 10px;
    text-align: center;

    margin-bottom: 2px;
}

.m-l-registrer-bilde {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 16px;

    height: 120px;
}

.m-l-vis {
    background-color:#f1f1f1;
    border: 1px solid;
    padding-top: 40px;
    padding-left: 91px;
    padding-right: 89px;
    padding-bottom: 65px;

    margin-right: 50px;
    border-radius: 5px;
}

.m-l-vis:hover {
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.m-l-vis-overskrift:link {
    text-decoration: none;
    text-align: center;
}

.m-l-vis-text {
    padding-top: 10px;
    text-align: center;
}

.m-l-registrer-bilde {
    margin-top: 10px;
    margin-left: 30px;
}

.m-l-vis-bilde {
    margin-top: 10px;
}


/*-------------------------FOOTER--------------------------------*/

/*--------------Knapper----------------*/

.utlogging {
    background-color: #bebebe;
    font-size: 17px;
    border: none;
    margin-top: 2px;
    letter-spacing: 2px;
    width: 150px;;
    height: 60px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #ADD8E6;
    transition: ease-out 0.3s;
    outline: none;
}

.utlogging:hover{
    box-shadow: inset 150px 0 0 0 #ADD8E6;
    cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------- inntekt.php side------------------------------*/



/*-------------------------MAIN CONTENT--------------------------------*/




/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------- reg-inntekt.php side------------------------------*/




/*-------------------------MAIN CONTENT--------------------------------*/
.reg-inntekt-container {
    text-align: center;
    margin-top: 30px;
}


/*--------------REG INNTEKT----------------*/

.reg-inntekt {
    font-size: x-large;
}

/* Registrer år */

.reg-år-text {
    font-size: large;
    
    margin-left: -230px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.reg-år-boks {
    font-size: large;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 62px;

    border: 1px solid rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);

}

.reg-år-boks:hover {
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Registrer måned */

.reg-mnd-text {
    font-size: large;
    
    margin-left: -200px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.reg-mnd-boks {
    font-size: large;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 110px;

    border: 1px solid rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
}

.reg-mnd-boks:hover {
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* registrer Netto */

.reg-netto-text {
    font-size: large;
    
    margin-left: -160px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.reg-netto-boks {
    font-size: large;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 10px;

    border: 1px solid rgba(0.5, 0.5, 0.5, 0.5);
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.85);
}

.reg-netto-boks:hover {
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*--- KNAPPER ---*/

.reg-knapper {
    margin-top: 25px;
    margin-left: 0px;
}

.reg-knapp {

      align-items: center;
      background-color: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.85);
      cursor: pointer;
      display: inline-flex;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }
    
    .reg-knapp,
    .reg-knapp:focus {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      color: rgba(0, 0, 0, 0.65);
    }
    
    .reg-knapp:hover {
      transform: translateY(-1px);
    }
    
    .reg-knapp:active {
      background-color: #F0F0F1;
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      color: rgba(0, 0, 0, 0.65);
      transform: translateY(0);
    }

.nullstill-knapp {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .nullstill-knapp,
  .nullstill-knapp:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .nullstill-knapp:hover {
    transform: translateY(-1px);
  }
  
  .nullstill-knapp:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

.reg-inntekt-frafør {
    text-align: center;
    margin-top: 50px;
}

.reg-inntekt-svar {
    text-align: center;
    margin-top: 50px;
}

.reg-inntekt-svar-knapp {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}
  .reg-inntekt-svar-knapp:hover {
    color: rgba(0, 0, 0, 0.85);
  }
  
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------- reg-inntekt.php side------------------------------*/


/*-------------------------MAIN CONTENT--------------------------------*/
