* {
    margin: 0%;
    padding: 0%;  
}

/*-------------------------GRID SYSTEM--------------------------------*/

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 89px 1fr 80px;
}

/*-------------------------HEADER--------------------------------*/

.header {
    background-color: #FFF;
    
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;

    border-style: hidden hidden solid hidden;
    border-color: #bebebe;
    border-width: thin;

 
}

/*------ HEADER INNHOLD ------*/
.h-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}

.h-logo {
    color: lightgray;
    margin-right: 50px;
    margin-left:-40vw;
}

.h-hjem {
    padding-left: 10px;
    padding-right: 30px;
}




/*-------------------------MAIN CONTENT--------------------------------*/

.main-content {
    background-color: #FFF;

    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    
    margin-top: 10px;
}

/*-------------------------FOOTER--------------------------------*/

.footer {
    background-color: #FFF;
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;

    border-style: solid hidden hidden hidden;
    border-color: #bebebe;
    border-width: thin;

    padding-top: 40px;
    padding-bottom: 80px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/




/*--------------------------- økonomi.php side------------------------------*/

/*-------------------------MAIN CONTENT--------------------------------*/

/*--------------OVERSIKT----------------*/

.startside {
    text-align: center;
    padding-top: 20px;
    align-items: center;
}

/*-------------------------FOOTER--------------------------------*/

/*--------------Knapper----------------*/

.utlogging {
    background-color: #bebebe;
    font-size: 17px;
    border: none;
    margin-top: 2px;
    letter-spacing: 2px;
    width: 150px;;
    height: 60px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #ADD8E6;
    transition: ease-out 0.3s;
    outline: none;
}

.utlogging:hover{
    box-shadow: inset 150px 0 0 0 #ADD8E6;
    cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------- inntekt.php side------------------------------*/



/*-------------------------MAIN CONTENT--------------------------------*/




/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------- reg-inntekt.php side------------------------------*/




/*-------------------------MAIN CONTENT--------------------------------*/

/*--------------REG INNTEKT----------------*/
.reg-inntekt {
    text-align: center;
    margin-top: 130px;
}

.reg-år {
    margin-top: 10px;
    margin-bottom: 5px;
}

.reg-mnd {
    margin-left: -26px;
    margin-bottom: 5px;
}

.reg-netto {
    margin-left: -61px;
    margin-bottom: 5px;
}

/*--- KNAPPER ---*/

.reg-knapper {
    margin-bottom: 20px;
}

.reg-knapp-1 {
    background-color: #ADD8E6;
    font-size: 12px;
    border: solid;
    margin-top: 6px;
    letter-spacing: 2px;
    padding: 2px;
    margin-left: 25px;
}

.reg-knapp-2 {
    background-color: #ADD8E6;
    font-size: 12px;
    border: solid;
    margin-top: 6px;
    letter-spacing: 2px;
    padding: 2px;
}

.reg-knapp-1:hover{
    cursor: pointer;
}

.reg-knapp-2:hover{
    cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------- reg-inntekt.php side------------------------------*/


/*-------------------------MAIN CONTENT--------------------------------*/
